# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
.venv/
venv/
env/
ENV/

# Poetry
# Recomendado: versionar poetry.lock en apps
# poetry.lock
poetry.toml

# Pytest
.pytest_cache/
.coverage
.coverage.*
htmlcov/
junit.xml

# Ruff / type checkers / linters
.ruff_cache/
.mypy_cache/
.pyre/
.pytype/
.dmypy.json
dmypy.json

# FastAPI / Uvicorn local artifacts
*.log

# Jupyter
.ipynb_checkpoints/

# IDEs / editors
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Private Key
.env